<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <form  #form="ngForm" (submit)="submitForm(form)">
            <div class="form-group">
                    <label class="control-label" for="fname">
                        FirstName
                    </label>
                    <input class="form-control"
                           type="text"
                           name="firstName"
                           id="fname"
                           required
                           #firstName="ngModel"
                           [ngModel]="model.firstName"
                           (ngModelChange)="firstToUpper($event)">
                    <div class="alert alert-danger" *ngIf="firstName.invalid">
                        Please enter firstName
                    </div>
            </div>
            <h3>Classes</h3>
            <h3>{{firstName.invalid}}</h3>
            <div class="form-group">
                    <label class="control-label" for="lname">
                        LastName
                    </label>
                    <input class="form-control"
                           type="text"
                           name="lastName"
                           id="lname"
                           minlength="5"
                           #lastName="ngModel"
                           [(ngModel)]="model.lastName">
                        <div class="alert alert-danger" *ngIf="lastName.invalid">
                           Min length is 5
                        </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">
                    Email
                </label>
                <input class="form-control"
                       type="text"
                       name="email"
                       id="email"
                       pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                       #email="ngModel"
                       [(ngModel)]="model.email">
                    <div class="alert alert-danger" *ngIf="email.invalid">
                       Enter valid email
                    </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="fullTime"
                           [(ngModel)]="model.fullTime">
                        FullTime
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" 
                            name="gender"
                            value="female"
                            [(ngModel)]="model.gender"/>
                        Female
                </label>
            </div>
            <div class="radio">
                    <label>
                        <input type="radio" 
                                name="gender"
                                value="male"
                                [(ngModel)]="model.gender"/>
                            Male
                    </label>
            </div>
            <div class="form-group">
                <label class="control-label">Code Lang</label>
                <select class="form-control" name="codelang"
                        ngModel>
                    <option *ngFor="let lang of language">
                        {{lang}}
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>