<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                    <label class="control-label" for="fname">
                        FirstName
                    </label>
                    <input class="form-control"
                           type="text"
                           name="firstName"
                           id="fname"
                           [(ngModel)]="model.firstName">
            </div>
            <div class="form-group">
                    <label class="control-label" for="lname">
                        LastName
                    </label>
                    <input class="form-control"
                           type="text"
                           name="lastName"
                           id="lname"
                           [(ngModel)]="model.lastName">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="fullTime"
                           [(ngModel)]="model.fullTime">
                        FullTime
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" 
                            name="gender"
                            value="female"
                            [(ngModel)]="model.gender"/>
                        Female
                </label>
            </div>
            <div class="radio">
                    <label>
                        <input type="radio" 
                                name="gender"
                                value="male"
                                [(ngModel)]="model.gender"/>
                            Male
                    </label>
            </div>
            <div class="form-group">
                <label class="control-label">Code Lang</label>
                <select class="form-control" name="codelang"
                        ngModel>
                    <option *ngFor="let lang of language">
                        {{lang}}
                    </option>
                </select>
            </div>
            <button type="button" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>